In [1]:
import numpy as np
import pandas as pd

DatetimeFeatures            
class feature_engine.datetime.DatetimeFeatures(variables=None, features_to_extract=None, drop_original=True, missing_values='raise', dayfirst=False, yearfirst=False, utc=None, format=None)        
it extracts date and time features from datetime variables, adding new columns to the dataset. DatetimeFeatures can extract datetime information from existing datetime or object-like variables or from the dataframe index.

In [9]:
data=pd.DataFrame(dict(
    date=["2020-09-10",np.nan,"2021-10-23","2022-02-20"]
))
data

         date
0  2020-09-10
1         NaN
2  2021-10-23
3  2022-02-20

In [13]:
from feature_engine.datetime import DatetimeFeatures
model=DatetimeFeatures(features_to_extract=["year","month","quarter"],missing_values="ignore")
model.fit_transform(data)

   date_year  date_month  date_quarter
0     2020.0         9.0           3.0
1        NaN         NaN           NaN
2     2021.0        10.0           4.0
3     2022.0         2.0           1.0

DatetimeSubtraction         
class feature_engine.datetime.DatetimeSubtraction(variables=None, reference=None, new_variables_names=None, output_unit='D', missing_values='ignore', drop_original=False, dayfirst=False, yearfirst=False, utc=None, format=None)              
it applies datetime subtraction between a group of datetime variables and one or more datetime features, adding the resulting variables to the dataframe.

In [21]:
data=pd.DataFrame(dict(
    date=["2020-09-10",np.nan,"2021-10-23","2022-02-20"],
    date2=["2021-12-10","2022-01-23","2019-04-27","2024-03-31"]
))
data

         date       date2
0  2020-09-10  2021-12-10
1         NaN  2022-01-23
2  2021-10-23  2019-04-27
3  2022-02-20  2024-03-31

In [22]:
from feature_engine.datetime import DatetimeSubtraction
modelsub=DatetimeSubtraction()
modelsub.fit_transform(data)

,date,date2,date_sub_date,date2_sub_date,date_sub_date2,date2_sub_date2
0,2020-09-10,2021-12-10,0.0,456.0,-456.0,0.0
1,NaN,2022-01-23,NaN,NaN,NaN,0.0
2,2021-10-23,2019-04-27,0.0,-910.0,910.0,0.0
3,2022-02-20,2024-03-31,0.0,770.0,-770.0,0.0