In [3]:
!pip install pandas
import numpy as np
import pandas as pd

Collecting pandas
  Downloading pandas-2.3.2-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\prasa\pycharmprojects\programs\programs\venv\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\prasa\pycharmprojects\programs\programs\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\prasa\pycharmprojects\programs\programs\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 700.7 kB/s eta 0:00:15
   -- ------------------------------------- 0.8/11.0 MB 896.1 kB/s eta 0:00:12
   --- ------------------------------------ 1.0/11.0 MB 1.0 MB/s eta 0:00:10
   ---- ----------------------------------- 1.3/11.0 MB 1.1 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.0 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.1/11.0 MB 1.3 MB/s eta 0:00:08
   -------- ------------------------------- 2.4/11.0 MB 1.3 MB/s eta 0:00:07
   --------- ------------------------------ 2.6/11.0 MB 1.3 MB/s eta 0:00:07
   ---------- ----------------------------- 2.9/11.0 MB 1.3 MB/s eta 0:00:07
   ----------- ---------------------------- 3.1/11.0 MB 1.3 MB/s eta 0:00:07
   ------------ --------------------------- 3.4/11.0 MB 1.3 MB/s eta 0:00:07
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/11.0 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 3.9/11.0 MB 696.8 kB/s eta 0:00:11
   -------------- ------------------------- 3.9/11.0 MB 696.8 kB/s eta 0:00:11
   --------------- ------------------------ 4.2/11.0 MB 706.6 kB/s eta 0:00:10
   ---------------- ----------------------- 4.5/11.0 MB 714.0 kB/s eta 0:00:10
   ----------------- ---------------------- 4.7/11.0 MB 739.6 kB/s eta 0:00:09
   ------------------ --------------------- 5.0/11.0 MB 763.9 kB/s eta 0:00:08
   ------------------- -------------------- 5.2/11.0 MB 767.9 kB/s eta 0:00:08
   ------------------- -------------------- 5.2/11.0 MB 767.9 kB/s eta 0:00:08
   -------------------- ------------------- 5.5/11.0 MB 761.7 kB/s eta 0:00:08
   -------------------- ------------------- 5.5/11.0 MB 761.7 kB/s eta 0:00:08
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 774.7 kB/s eta 0:00:07
   ---------------------- ----------------- 6.3/11.0 MB 629.5 kB/s eta 0:00:08
   ---------------------- ----------------- 6.3/11.0 MB 629.5 kB/s eta 0:00:08
   ----------------------- ---------------- 6.6/11.0 MB 624.1 kB/s eta 0:00:08
   ------------------------ --------------- 6.8/11.0 MB 637.8 kB/s eta 0:00:07
   -------------------------- ------------- 7.3/11.0 MB 674.3 kB/s eta 0:00:06
   ---------------------------- ----------- 7.9/11.0 MB 708.0 kB/s eta 0:00:05
   ----------------------------- ---------- 8.1/11.0 MB 718.1 kB/s eta 0:00:04
   ------------------------------ --------- 8.4/11.0 MB 729.5 kB/s eta 0:00:04
   -------------------------------- ------- 8.9/11.0 MB 760.8 kB/s eta 0:00:03
   ---------------------------------- ----- 9.4/11.0 MB 792.2 kB/s eta 0:00:02
   ---------------------------------- ----- 9.4/11.0 MB 792.2 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 803.3 kB/s eta 0:00:02
   -------------------------------------- - 10.5/11.0 MB 384.8 kB/s eta 0:00:02
   ---------------------------------------  10.7/11.0 MB 391.0 kB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 391.0 kB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 393.3 kB/s  0:00:29
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas

   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ---------------------------------------- 0/3 [pytz]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   ------------- -------------------------- 1/3 [tzdata]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]
   -------------------------- ------------- 2/3 [pandas]

In [4]:
a=np.array([15,48,59,36,25,14,59,26])
s=pd.Series(a,name="data")
s

0    15
1    48
2    59
3    36
4    25
5    14
6    59
7    26
Name: data, dtype: int64

In [9]:
s[s>30]

1    48
2    59
3    36
6    59
Name: data, dtype: int64

In [12]:
s[(s>=30) & (s<=50)]

1    48
3    36
Name: data, dtype: int64

In [17]:
s[2]=60
print(s)

0    15
1    48
2    60
3    36
4    25
5    14
6    59
7    26
Name: data, dtype: int64

In [36]:
#DataFrame
a={"name":["sai","valli","akki","meow"],
   "age":[21,18,19,15],
   "place":["bpt","hyd","ong","gun"],
   "occupation":["study","study","study","job"]
   }
index=["0","1","2","3"]
d=pd.DataFrame(a)
d

    name  age place occupation
0    sai   21   bpt      study
1  valli   18   hyd      study
2   akki   19   ong      study
3   meow   15   gun        job

In [21]:
d.head(2)

    name  age place occupation
0    sai   21   bpt      study
1  valli   18   hyd      study

In [22]:
d.tail(2)

   name  age place occupation
2  akki   19   ong      study
3  meow   15   gun        job

In [24]:
d.iloc[0:3]

    name  age place occupation
0    sai   21   bpt      study
1  valli   18   hyd      study
2   akki   19   ong      study

In [47]:
d.index=["1","2","3","4"]
d.loc[["1","2","3"],["name","age","place"]]

    name  age place
1    sai   21   bpt
2  valli   18   hyd
3   akki   19   ong

In [50]:
d["name"]

1      sai
2    valli
3     akki
4     meow
Name: name, dtype: object

In [52]:
d[["name","age","place"]]

    name  age place
1    sai   21   bpt
2  valli   18   hyd
3   akki   19   ong
4   meow   15   gun

In [58]:
d.drop("2",axis=0)

   name  age place occupation
1   sai   21   bpt      study
3  akki   19   ong      study
4  meow   15   gun        job

In [54]:
d

    name  age place occupation
1    sai   21   bpt      study
2  valli   18   hyd      study
3   akki   19   ong      study
4   meow   15   gun        job

In [59]:
d.shape

(4, 4)

In [64]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 1 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   age         4 non-null      int64
 2   place       4 non-null      object
 3   occupation  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 332.0+ bytes

In [65]:
d.describe()

         age
count   4.00
mean   18.25
std     2.50
min    15.00
25%    17.25
50%    18.50
75%    19.50
max    21.00

In [66]:
d

    name  age place occupation
1    sai   21   bpt      study
2  valli   18   hyd      study
3   akki   19   ong      study
4   meow   15   gun        job

In [76]:
d.at["3","age"]=17

In [77]:
d

    name  age place occupation
1    sai   21   bpt      study
2  valli   18   hyd      study
3   akki   17   ong      study
4   meow   15   gun        job

In [79]:
d.at["2","place"]

'hyd'

In [107]:
d["age"]=d["age"]-2

In [88]:
d.at["2","place"]="bpt"
d

    name  age place occupation
1    sai   25   bpt      study
2  valli   22   bpt      study
3   akki   21   ong      study
4   meow   19   gun        job

In [99]:
d.rename(columns={"occupation":"occ"},inplace=True)
d

    name  age place    occ
1    sai   25   bpt  study
2  valli   22   bpt  study
3   akki   21   ong  study
4   meow   19   gun    job

In [89]:
d["place"].unique()

array(['bpt', 'ong', 'gun'], dtype=object)

In [100]:
d["occ"].value_counts()

occ
study    3
job      1
Name: count, dtype: int64

In [118]:
d["ph.no"]=['9676493786','6300295359','9491668716',"784715121"]
d

    name  age place    occ       ph.no
1    sai   23   bpt  study  9676493786
2  valli   20   bpt  study  6300295359
3   akki   19   ong  study  9491668716
4   meow   17   gun    job   784715121

In [131]:
d.at["1","age"]=None
d.drop(2,axis=0,inplace=True)

KeyError: '[2] not found in axis'

In [135]:
d.at["4","ph.no"]=None
d

    name   age place    occ       ph.no
1    sai   NaN   bpt  study  9676493786
2  valli  20.0   bpt  study  6300295359
3   akki  19.0   ong  study  9491668716
4   meow  17.0   gun    job        None

In [136]:
d.dropna()

    name   age place    occ       ph.no
2  valli  20.0   bpt  study  6300295359
3   akki  19.0   ong  study  9491668716

In [138]:
d.dropna(how="any")

    name   age place    occ       ph.no
2  valli  20.0   bpt  study  6300295359
3   akki  19.0   ong  study  9491668716

In [139]:
d.dropna(how="all")

    name   age place    occ       ph.no
1    sai   NaN   bpt  study  9676493786
2  valli  20.0   bpt  study  6300295359
3   akki  19.0   ong  study  9491668716
4   meow  17.0   gun    job        None

In [145]:
d["age"].fillna(d["age"].mean(),inplace=True)
d

C:\Users\prasa\AppData\Local\Temp\ipykernel_11448\2490615929.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d["age"].fillna(d["age"].mean(),inplace=True)

    name        age place    occ       ph.no
1    sai  18.666667   bpt  study  9676493786
2  valli  20.000000   bpt  study  6300295359
3   akki  19.000000   ong  study  9491668716
4   meow  17.000000   gun    job        None

In [154]:
d.at["1","age"]=None
d["age"].fillna(method="bfill",inplace=True)
d["ph.no"].fillna(method="ffill",inplace=True)
d

C:\Users\prasa\AppData\Local\Temp\ipykernel_11448\906345120.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d["age"].fillna(method="bfill",inplace=True)
C:\Users\prasa\AppData\Local\Temp\ipykernel_11448\906345120.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  d["age"].fillna(method="bfill",inplace=True)
C:\Users\prasa\AppData\Local\Temp\ipykernel_11448\906345120.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d["ph.no"].fillna(method="ffill",inplace=True)
C:\Users\prasa\AppData\Local\Temp\ipykernel_11448\906345120.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  d["ph.no"].fillna(method="ffill",inplace=True)

    name   age place    occ       ph.no
1    sai  20.0   bpt  study  9676493786
2  valli  20.0   bpt  study  6300295359
3   akki  19.0   ong  study  9491668716
4   meow  17.0   gun    job  9491668716