In [113]:

import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

In [114]:
df=pd.read_csv(r"c:\Users\prasa\OneDrive\Documents\Desktop\india_housing_prices.csv")
df.head()

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
0,1,Tamil Nadu,Chennai,Locality_84,Apartment,1,4740,489.76,0.10,1990,...,35,10,3,High,No,No,"Playground, Gym, Garden, Pool, Clubhouse",West,Owner,Ready_to_Move
1,2,Maharashtra,Pune,Locality_490,Independent House,3,2364,195.52,0.08,2008,...,17,8,1,Low,No,Yes,"Playground, Clubhouse, Pool, Gym, Garden",North,Builder,Under_Construction
2,3,Punjab,Ludhiana,Locality_167,Apartment,2,3642,183.79,0.05,1997,...,28,9,8,Low,Yes,No,"Clubhouse, Pool, Playground, Gym",South,Broker,Ready_to_Move
3,4,Rajasthan,Jodhpur,Locality_393,Independent House,2,2741,300.29,0.11,1991,...,34,5,7,High,Yes,Yes,"Playground, Clubhouse, Gym, Pool, Garden",North,Builder,Ready_to_Move
4,5,Rajasthan,Jaipur,Locality_466,Villa,4,4823,182.90,0.04,2002,...,23,4,9,Low,No,Yes,"Playground, Garden, Gym, Pool, Clubhouse",East,Builder,Ready_to_Move

In [115]:
cat_cols=df.select_dtypes(include="object")
num_cols=df.select_dtypes(exclude="object")
print("Categorical columns:", cat_cols.columns.tolist())
print("Numerical columns:", num_cols.columns.tolist())

Categorical columns: ['State', 'City', 'Locality', 'Property_Type', 'Furnished_Status', 'Public_Transport_Accessibility', 'Parking_Space', 'Security', 'Amenities', 'Facing', 'Owner_Type', 'Availability_Status']
Numerical columns: ['ID', 'BHK', 'Size_in_SqFt', 'Price_in_Lakhs', 'Price_per_SqFt', 'Year_Built', 'Floor_No', 'Total_Floors', 'Age_of_Property', 'Nearby_Schools', 'Nearby_Hospitals']

In [116]:
import pandas as pd

def count_items(cell):
    if pd.isna(cell) or str(cell).strip().lower() == "none":
        return 0
    items = [x.strip() for x in str(cell).split(",")]
    return len(items)

In [117]:
# Add a new column with counts
df["Amenities"] = df["Amenities"].apply(count_items)

print(df)

            ID        State       City      Locality      Property_Type  BHK  \
0            1   Tamil Nadu    Chennai   Locality_84          Apartment    1
1            2  Maharashtra       Pune  Locality_490  Independent House    3
2            3       Punjab   Ludhiana  Locality_167          Apartment    2
3            4    Rajasthan    Jodhpur  Locality_393  Independent House    2
4            5    Rajasthan     Jaipur  Locality_466              Villa    4
...        ...          ...        ...           ...                ...  ...
249995  249996      Gujarat  Ahmedabad  Locality_187  Independent House    5
249996  249997   Tamil Nadu    Chennai  Locality_348          Apartment    1
249997  249998    Telangana   Warangal  Locality_225              Villa    4
249998  249999       Odisha    Cuttack  Locality_138              Villa    1
249999  250000      Haryana    Gurgaon  Locality_268  Independent House    3

        Size_in_SqFt  Price_in_Lakhs  Price_per_SqFt  Year_Built  ...  \
0               4740          489.76            0.10        1990  ...
1               2364          195.52            0.08        2008  ...
2               3642          183.79            0.05        1997  ...
3               2741          300.29            0.11        1991  ...
4               4823          182.90            0.04        2002  ...
...              ...             ...             ...         ...  ...
249995          1995          274.75            0.14        1995  ...
249996          2293           13.40            0.01        2013  ...
249997          2910          236.94            0.08        2003  ...
249998          1149          141.66            0.12        2007  ...
249999          4313          199.69            0.05        1990  ...

       Age_of_Property  Nearby_Schools  Nearby_Hospitals  \
0                   35              10                 3
1                   17               8                 1
2                   28               9                 8
3                   34               5                 7
4                   23               4                 9
...                ...             ...               ...
249995              30               8                 6
249996              12               8                10
249997              22              10                 4
249998              18               3                 7
249999              35              10                 6

        Public_Transport_Accessibility  Parking_Space  Security Amenities  \
0                                 High             No        No         5
1                                  Low             No       Yes         5
2                                  Low            Yes        No         4
3                                 High            Yes       Yes         5
4                                  Low             No       Yes         5
...                                ...            ...       ...       ...
249995                             Low             No        No         5
249996                             Low             No        No         1
249997                            High            Yes       Yes         1
249998                             Low            Yes       Yes         3
249999                          Medium             No        No         2

       Facing Owner_Type  Availability_Status
0        West      Owner        Ready_to_Move
1       North    Builder   Under_Construction
2       South     Broker        Ready_to_Move
3       North    Builder        Ready_to_Move
4        East    Builder        Ready_to_Move
...       ...        ...                  ...
249995   East     Broker   Under_Construction
249996  South     Broker        Ready_to_Move
249997  South    Builder   Under_Construction
249998  South      Owner        Ready_to_Move
249999  South      Owner   Under_Construction

[250000 rows x 23 columns]

In [118]:
df.drop("Locality", axis=1, inplace=True)

In [119]:
cat_cols=df.select_dtypes(include="object")
num_cols=df.select_dtypes(exclude="object")
print("Categorical columns:", cat_cols.columns.tolist())
print("Numerical columns:", num_cols.columns.tolist())

Categorical columns: ['State', 'City', 'Property_Type', 'Furnished_Status', 'Public_Transport_Accessibility', 'Parking_Space', 'Security', 'Facing', 'Owner_Type', 'Availability_Status']
Numerical columns: ['ID', 'BHK', 'Size_in_SqFt', 'Price_in_Lakhs', 'Price_per_SqFt', 'Year_Built', 'Floor_No', 'Total_Floors', 'Age_of_Property', 'Nearby_Schools', 'Nearby_Hospitals', 'Amenities']

In [120]:
for i in cat_cols.columns:
    print(f"{i} : {cat_cols[i].unique()}")

State : ['Tamil Nadu' 'Maharashtra' 'Punjab' 'Rajasthan' 'West Bengal'
 'Chhattisgarh' 'Delhi' 'Jharkhand' 'Telangana' 'Karnataka'
 'Uttar Pradesh' 'Assam' 'Uttarakhand' 'Bihar' 'Gujarat' 'Haryana'
 'Andhra Pradesh' 'Madhya Pradesh' 'Kerala' 'Odisha']
City : ['Chennai' 'Pune' 'Ludhiana' 'Jodhpur' 'Jaipur' 'Durgapur' 'Coimbatore'
 'Bilaspur' 'New Delhi' 'Ranchi' 'Warangal' 'Bangalore' 'Nagpur' 'Lucknow'
 'Silchar' 'Dehradun' 'Noida' 'Gaya' 'Jamshedpur' 'Ahmedabad' 'Hyderabad'
 'Faridabad' 'Amritsar' 'Kolkata' 'Dwarka' 'Vishakhapatnam' 'Bhopal'
 'Indore' 'Haridwar' 'Mysore' 'Patna' 'Raipur' 'Vijayawada' 'Trivandrum'
 'Kochi' 'Surat' 'Gurgaon' 'Mangalore' 'Cuttack' 'Bhubaneswar' 'Guwahati'
 'Mumbai']
Property_Type : ['Apartment' 'Independent House' 'Villa']
Furnished_Status : ['Furnished' 'Unfurnished' 'Semi-furnished']
Public_Transport_Accessibility : ['High' 'Low' 'Medium']
Parking_Space : ['No' 'Yes']
Security : ['No' 'Yes']
Facing : ['West' 'North' 'South' 'East']
Owner_Type : ['Owner' 'Builder' 'Broker']
Availability_Status : ['Ready_to_Move' 'Under_Construction']

In [131]:
import pandas as pd

df1 = pd.DataFrame({
    "State":['Tamil Nadu' 'Maharashtra' 'Punjab' 'Rajasthan' 'West Bengal'
    'Chhattisgarh' 'Delhi' 'Jharkhand' 'Telangana' 'Karnataka'
    'Uttar Pradesh' 'Assam' 'Uttarakhand' 'Bihar' 'Gujarat' 'Haryana'
    'Andhra Pradesh' 'Madhya Pradesh' 'Kerala' 'Odisha'],
    "City": ['Chennai' 'Pune' 'Ludhiana' 'Jodhpur' 'Jaipur' 'Durgapur' 'Coimbatore'
    'Bilaspur' 'New Delhi' 'Ranchi' 'Warangal' 'Bangalore' 'Nagpur' 'Lucknow'
    'Silchar' 'Dehradun' 'Noida' 'Gaya' 'Jamshedpur' 'Ahmedabad' 'Hyderabad'
    'Faridabad' 'Amritsar' 'Kolkata' 'Dwarka' 'Vishakhapatnam' 'Bhopal'
    'Indore' 'Haridwar' 'Mysore' 'Patna' 'Raipur' 'Vijayawada' 'Trivandrum'
    'Kochi' 'Surat' 'Gurgaon' 'Mangalore' 'Cuttack' 'Bhubaneswar' 'Guwahati'
    'Mumbai'],
    "Property_Type": ['Apartment' 'Independent House' 'Villa'],
    "Furnished_Status": ["Furnished", "Semi-furnished", "Unfurnished"],
    "Public_Transport_Accessibility": ["High", "Medium", "Low"],
    "Parking_Space": ["Yes", "No"],
    "Security": ["Yes", "No"],
    "Facing": ['West' 'North' 'South' 'East'],
    "Owner_Type": ["Owner", "Builder", "Broker"],
    "Availability_Status": ["Ready_to_Move", "Under_Construction"]
})

ValueError: All arrays must be of the same length

In [132]:
'''from sklearn.preprocessing import OrdinalEncoder

categories = [
    ['Tamil Nadu' 'Maharashtra' 'Punjab' 'Rajasthan' 'West Bengal'
    'Chhattisgarh' 'Delhi' 'Jharkhand' 'Telangana' 'Karnataka'
    'Uttar Pradesh' 'Assam' 'Uttarakhand' 'Bihar' 'Gujarat' 'Haryana'
    'Andhra Pradesh' 'Madhya Pradesh' 'Kerala' 'Odisha'],                        # State
    ['Chennai' 'Pune' 'Ludhiana' 'Jodhpur' 'Jaipur' 'Durgapur' 'Coimbatore'
    'Bilaspur' 'New Delhi' 'Ranchi' 'Warangal' 'Bangalore' 'Nagpur' 'Lucknow'
    'Silchar' 'Dehradun' 'Noida' 'Gaya' 'Jamshedpur' 'Ahmedabad' 'Hyderabad'
    'Faridabad' 'Amritsar' 'Kolkata' 'Dwarka' 'Vishakhapatnam' 'Bhopal'
    'Indore' 'Haridwar' 'Mysore' 'Patna' 'Raipur' 'Vijayawada' 'Trivandrum'
    'Kochi' 'Surat' 'Gurgaon' 'Mangalore' 'Cuttack' 'Bhubaneswar' 'Guwahati'
    'Mumbai']                                                                        # City
    ["Apartment", "Independent House", "Villa"],            # Property_Type
    ["Furnished", "Semi-furnished", "Unfurnished"],         # Furnished_Status
    ["Low", "Medium", "High"],                         #Public_Transport_Accessibility
    ["No", "Yes"],                                          # Parking_Space
    ["No", "Yes"],                                          # Security
    ["North", "South", "East", "West"],                     # Facing
    ["Owner", "Builder", "Broker"],                         # Owner_Type
    ["Ready_to_Move", "Under_Construction"]                 # Availability_Status
]
'''

'from sklearn.preprocessing import OrdinalEncoder\n\ncategories = [\n    [\'Tamil Nadu\' \'Maharashtra\' \'Punjab\' \'Rajasthan\' \'West Bengal\'\n    \'Chhattisgarh\' \'Delhi\' \'Jharkhand\' \'Telangana\' \'Karnataka\'\n    \'Uttar Pradesh\' \'Assam\' \'Uttarakhand\' \'Bihar\' \'Gujarat\' \'Haryana\'\n    \'Andhra Pradesh\' \'Madhya Pradesh\' \'Kerala\' \'Odisha\'],                        # State\n    [\'Chennai\' \'Pune\' \'Ludhiana\' \'Jodhpur\' \'Jaipur\' \'Durgapur\' \'Coimbatore\'\n    \'Bilaspur\' \'New Delhi\' \'Ranchi\' \'Warangal\' \'Bangalore\' \'Nagpur\' \'Lucknow\'\n    \'Silchar\' \'Dehradun\' \'Noida\' \'Gaya\' \'Jamshedpur\' \'Ahmedabad\' \'Hyderabad\'\n    \'Faridabad\' \'Amritsar\' \'Kolkata\' \'Dwarka\' \'Vishakhapatnam\' \'Bhopal\'\n    \'Indore\' \'Haridwar\' \'Mysore\' \'Patna\' \'Raipur\' \'Vijayawada\' \'Trivandrum\'\n    \'Kochi\' \'Surat\' \'Gurgaon\' \'Mangalore\' \'Cuttack\' \'Bhubaneswar\' \'Guwahati\'\n    \'Mumbai\']                                                                        # City\n    ["Apartment", "Independent House", "Villa"],            # Property_Type\n    ["Furnished", "Semi-furnished", "Unfurnished"],         # Furnished_Status\n    ["Low", "Medium", "High"],                         #Public_Transport_Accessibility\n    ["No", "Yes"],                                          # Parking_Space\n    ["No", "Yes"],                                          # Security\n    ["North", "South", "East", "West"],                     # Facing\n    ["Owner", "Builder", "Broker"],                         # Owner_Type\n    ["Ready_to_Move", "Under_Construction"]                 # Availability_Status\n]\n'

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder(categories)
cat_cols.columns=encoder.fit_transform(cat_cols.columns)

In [ ]:
df.head()

,ID,State,City,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,Furnished_Status,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
0,1,Tamil Nadu,Chennai,Apartment,1,4740,489.76,0.10,1990,Furnished,...,35,10,3,High,No,No,5,West,Owner,Ready_to_Move
1,2,Maharashtra,Pune,Independent House,3,2364,195.52,0.08,2008,Unfurnished,...,17,8,1,Low,No,Yes,5,North,Builder,Under_Construction
2,3,Punjab,Ludhiana,Apartment,2,3642,183.79,0.05,1997,Semi-furnished,...,28,9,8,Low,Yes,No,4,South,Broker,Ready_to_Move
3,4,Rajasthan,Jodhpur,Independent House,2,2741,300.29,0.11,1991,Furnished,...,34,5,7,High,Yes,Yes,5,North,Builder,Ready_to_Move
4,5,Rajasthan,Jaipur,Villa,4,4823,182.90,0.04,2002,Semi-furnished,...,23,4,9,Low,No,Yes,5,East,Builder,Ready_to_Move

In [ ]:
cat_cols.columns

In [ ]:
import pickle 
pickle.dump(encoder,open("encoder1.pkl","wb"))
pickle.load(open("encoder1.pkl","rb"))

In [ ]:
df.columns

In [ ]:
x=df.drop("Price_in_Lakhs",axis=1)
y=df["Price_in_Lakhs"]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

In [ ]:
#ada boost regressor model
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, root_mean_squared_error,r2_score
ada=AdaBoostRegressor()
ada.fit(x_train,y_train)
y_pred_ada=ada.predict(x_test)
print(r2_score(y_test,y_pred_ada))
print(mean_absolute_error(y_test,y_pred_ada))
print(mean_squared_error(y_test,y_pred_ada))
print(root_mean_squared_error(y_test,y_pred_ada))

In [ ]:
import pickle 
pickle.dump(ada,open("house adaboost.pkl","wb"))
pickle.load(open("house adaboost.pkl","rb"))

In [ ]:
import streamlit as st
import pandas as pd
import numpy as np
import pickle

# Load model, encoders, and scaler
with open("house adaboost.pkl", "rb") as f:
    ada_model = pickle.load(f)

with open("encoding.pkl", "rb") as f:
    encoder = pickle.load(f)

In [ ]:
import pandas as pd

# --- User Inputs with Defaults ---
data = {
    'id':[1],
    "bhk": [3],
    "size_in_sqft": [1500],
    "price_per_sqft": [80],
    "year_built": [2018],
    "floor_no": [5],
    "total_floors": [10],
    "age_of_property": [5],
    "nearby_schools": ["Delhi Public School, Whitefield"],
    "nearby_hospitals": ["Columbia Asia Hospital"],
    "state": ["Maharashtra"],
    "city": [""],
    "locality": ["Whitefield"],
    "property_type": ["Apartment"],
    "furnished_status": ["Semi-Furnished"],
    "parking_space": ["Yes"],
    "security": ["24x7 Security"],
    "amenities": ["Gym, Swimming Pool, Clubhouse"],
    "facing": ["west"],
    "owner_type": ["Individual"],
    "availability_status": ["Ready to Move"]
}

# Convert dictionary into DataFrame
df1 = pd.DataFrame(data)

In [ ]:
df1["amenities"] = df1["amenities"].apply(count_items)
df1["nearby_schools"] = df1["nearby_schools"].apply(count_items)

In [ ]:
df1.head()

In [ ]:
cat_cols = [
    "State", "city", "Property_type", "Furnished_status",
    "Parking_space", "Security", "Facing", "Owner_type", "availability_status"
]

In [ ]:
df1.head()

In [ ]:
encoded_values = encoder.transform(df1)

# Convert back into a DataFrame with same column names
encoded_df = pd.DataFrame(encoded_values, columns=cat_cols)

print(encoded_df)

In [ ]:
encoded_df