MISSING DATA VALUES     
meanmedian imputation        
arbitarynumber imputation       
endtail imputation      
categorical imputation          
randomsample imputation         
addingmissing values            
dropmissing data

In [ ]:
import numpy as np
import pandas as pd
from feature_engine.imputation import MeanMedianImputer

mean median imputation  
-->replacing the missing value with mean or mode based on the given data    
-->mean-for normal distribution data(having good bell curve)    
-->median-for not good distributed or if the data is having the outliers (not having good bell curve)

In [ ]:
df=pd.DataFrame(dict(
    x=[15,52,np.nan,53,21],
    y=["a","b","c","d","e"]
))

In [ ]:
df.dtypes

MeanMedianImputer(imputation_method='median' or 'mean', variables=None)     
-->fit(x,y=None)                               -Learn the mean or median values     
-->fit_transform(x,y=None,**fit_params)        -Fit to data, then transform it      
-->get_feature_names_out(input_features=None)  -Get output feature names for transformation     
-->get_metadata_routing()                      -Get metadata routing of this object     
-->get_params(deep=True)                       -Get parameters for this estimator       
-->set_params(**params)                        -Set the parameters of this estimator        
-->transform(X)                                -Replace missing data with the learned parameters

In [ ]:
data=MeanMedianImputer()
data.fit_transform(df)

In [ ]:
data.get_metadata_routing()

In [ ]:
data.fit(df)
data

In [ ]:
data.transform(df)

In [ ]:
data.get_params()

In [ ]:
data.set_params()

In [ ]:
data.get_feature_names_out()

ArbitaryNumber imputation           [numeric]      
--it replaces missing data by an arbitrary value determined bu us
feature_engine.imputation.ArbitraryNumberImputer(arbitrary_number=999, variables=None, imputer_dict=None)       
-->fit(x,y=None)                               -Learn the mean or median values     
-->fit_transform(x,y=None,**fit_params)        -Fit to data, then transform it      
-->get_feature_names_out(input_features=None)  -Get output feature names for transformation     
-->get_metadata_routing()                      -Get metadata routing of this object     
-->get_params(deep=True)                       -Get parameters for this estimator       
-->set_params(**params)                        -Set the parameters of this estimator        
-->transform(X)                                -Replace missing data with the learned parameters

In [ ]:
df=pd.DataFrame(dict(
    x=[15,52,np.nan,53,21,np.nan],
    y=[1,0,1,np.nan,1,0]
))

In [ ]:
from feature_engine.imputation import ArbitraryNumberImputer
data=ArbitraryNumberImputer()
data.fit_transform(df)

In [ ]:
data.transform(df)

In [ ]:
data.get_params()

In [ ]:
data.set_params()

In [ ]:
data.transform(df)

In [ ]:
data.get_metadata_routing()

endtail imputation   
-it replaces missing data by a value at either tail of the distribution         
class feature_engine.imputation.EndTailImputer(imputation_method='gaussian'"iqr""max", tail='right', fold=3, variables=None)            
-->fit(x,y=None)                               -Learn the mean or median values     
-->fit_transform(x,y=None,**fit_params)        -Fit to data, then transform it      
-->get_feature_names_out(input_features=None)  -Get output feature names for transformation     
-->get_metadata_routing()                      -Get metadata routing of this object     
-->get_params(deep=True)                       -Get parameters for this estimator       
-->set_params(**params)                        -Set the parameters of this estimator        
-->transform(X)                                -Replace missing data with the learned parameters

In [ ]:
#only for categorical data
import pandas as pd
import numpy as np
data=pd.DataFrame(np.array([1,5,np.nan,2,3,6,np.nan]))
data

In [ ]:
from feature_engine.imputation import EndTailImputer
model=EndTailImputer()
model.fit_transform(data)
#Missing values are replaced with (mean + 3*std)

feature_engine.imputation.CategoricalImputer(imputation_method='missing', fill_value='Missing', variables=None, return_object=False, ignore_format=False)       
it replaces missing data in categorical variables by an arbitrary value or by the most frequent category

In [36]:
data_cat=pd.DataFrame(dict(
    x=[1,2,3,np.nan,5,6],
    y=["a","b",np.nan,"a",np.nan,"b"]))

In [37]:
from feature_engine.imputation import CategoricalImputer
model_cat=CategoricalImputer()
model_cat.fit_transform(data_cat)

     x        y
0  1.0        a
1  2.0        b
2  3.0  Missing
3  NaN        a
4  5.0  Missing
5  6.0        b

class feature_engine.imputation.RandomSampleImputer(variables=None, random_state=None, seed='general', seeding_method='add')        
it replaces missing data with a random sample extracted from the variables in the training set.     
-->fit(x,y=None)                               -Learn the mean or median values     
-->fit_transform(x,y=None,**fit_params)        -Fit to data, then transform it      
-->get_feature_names_out(input_features=None)  -Get output feature names for transformation     
-->get_metadata_routing()                      -Get metadata routing of this object     
-->get_params(deep=True)                       -Get parameters for this estimator       
-->set_params(**params)                        -Set the parameters of this estimator        
-->transform(X)                                -Replace missing data with the learned parameters

In [38]:
#both numeric and categorical
import pandas as pd
import numpy as np
data=pd.DataFrame(np.array([1,5,np.nan,2,3,6,np.nan]))
data

     0
0  1.0
1  5.0
2  NaN
3  2.0
4  3.0
5  6.0
6  NaN

In [39]:
from feature_engine.imputation import RandomSampleImputer
ran_model=RandomSampleImputer()
ran_model.fit_transform(data)

     0
0  1.0
1  5.0
2  1.0
3  2.0
4  3.0
5  6.0
6  5.0

addingmissing imputation            
class feature_engine.imputation.AddMissingIndicator(missing_only=True, variables=None)      
it adds binary variables that indicate if data is missing.The AddMissingIndicator() works for both numerical and categorical variables.         
-->fit(x,y=None)                               -Learn the mean or median values     
-->fit_transform(x,y=None,**fit_params)        -Fit to data, then transform it      
-->get_feature_names_out(input_features=None)  -Get output feature names for transformation     
-->get_metadata_routing()                      -Get metadata routing of this object     
-->get_params(deep=True)                       -Get parameters for this estimator       
-->set_params(**params)                        -Set the parameters of this estimator        
-->transform(X)                                -Replace missing data with the learned parameters

In [41]:
data1= pd.DataFrame(dict(
       x1 = [np.nan,1,1,0,np.nan],
       x2 = ["a", np.nan, "b", np.nan, "a"],
       ))
data1

    x1   x2
0  NaN    a
1  1.0  NaN
2  1.0    b
3  0.0  NaN
4  NaN    a

In [42]:
from feature_engine.imputation import AddMissingIndicator
model_add=AddMissingIndicator()
model_add.fit_transform(data1)

    x1   x2  x1_na  x2_na
0  NaN    a      1      0
1  1.0  NaN      0      1
2  1.0    b      0      0
3  0.0  NaN      0      1
4  NaN    a      1      0

DropMissingData             
class feature_engine.imputation.DropMissingData(missing_only=True, threshold=None, variables=None)  
DropMissingData() deletes rows containing missing values.

In [43]:
from feature_engine.imputation import DropMissingData
model_drop=DropMissingData()
model_drop.fit_transform(data1)

    x1 x2
2  1.0  b