In [35]:
import pandas as pd
df=pd.read_csv(r"c:\DATA SCIENCE\EDA\data sets\Customer_Transactions.csv")
df.head()

,customer_id,age,gender,country,annual_income,spending_score,num_purchases,avg_purchase_value,membership_years,website_visits_per_month,cart_abandon_rate,churned,feedback_text,last_purchase_date
0,1,37,Male,Germany,85886,14,18,41.20,6,20,0.95,0,Very satisfied with my purchase.,2025-06-22
1,2,40,Male,India,41041,4,10,31.73,4,29,0.21,0,Good quality and value for money.,2025-10-17
2,3,69,Female,Australia,143869,59,39,65.96,12,26,0.08,0,Excellent customer service.,2025-07-01
3,4,30,Male,UK,87261,45,34,51.87,12,7,0.61,0,Good quality and value for money.,2025-08-17
4,5,69,Female,UK,110678,40,38,59.64,13,16,0.49,0,Excellent customer service.,2025-06-21

In [3]:
df.isnull().sum()

customer_id                 0
age                         0
gender                      0
country                     0
annual_income               0
spending_score              0
num_purchases               0
avg_purchase_value          0
membership_years            0
website_visits_per_month    0
cart_abandon_rate           0
churned                     0
feedback_text               0
last_purchase_date          0
dtype: int64

In [6]:
df[["churned"]].value_counts()

churned
0          8910
1          1090
Name: count, dtype: int64

In [ ]:
#imbalance data set    doing up sampling
majority=df[df["churned"]==0]
minority=df[df["churned"]==1]
print(majority.value_counts().sum())
print(minority.value_counts().sum())

8910
1090

In [15]:
from sklearn.utils import resample
up_sampled_miority=resample(minority,replace=True,random_state=42,n_samples=len(majority))

In [19]:
up_sampled_miority.value_counts().sum()

np.int64(8910)

In [20]:
majority.value_counts().sum()

np.int64(8910)

In [31]:
#downsampling
down_sampled_majority=resample(majority,random_state=42,n_samples=len(minority))

In [32]:
minority.value_counts().sum()

np.int64(1090)

In [33]:
down_sampled_majority.value_counts().sum()

np.int64(1090)

In [36]:
#encoding-->onehotencoding
from sklearn.preprocessing import OneHotEncoder
a=OneHotEncoder()
a.fit_transform(df[["churned"]])

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 2)>