In [310]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\prasa\pycharmprojects\programs\programs\venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\prasa\pycharmprojects\programs\programs\venv\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [311]:
import pandas as pd
df = pd.read_excel(r"c:\DATA SCIENCE\EDA\data sets\flight_price.xlsx")
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [312]:
df.shape

(10683, 11)

In [313]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [314]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [315]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [316]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662

In [317]:
df["day"]=df["Date_of_Journey"].str.split("/").str[0]
df["month"]=df["Date_of_Journey"].str.split("/").str[1]
df["year"]=df["Date_of_Journey"].str.split("/").str[2]

In [318]:
df.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019

In [319]:
df.drop("Date_of_Journey",axis=1,inplace=True)

In [320]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019

In [321]:
df["Arrival_Time"].str.split(":").str[0]

0        01
1        13
2        04
3        23
4        21
         ..
10678    22
10679    23
10680    11
10681    14
10682    19
Name: Arrival_Time, Length: 10683, dtype: object

In [322]:
#df["arrival_hour"]=df["Arrival_Time"].str.split(":").str[0]
#df["Arrival_Time"].str.split(":").str[1]
df["arr_time"]=df["Arrival_Time"].str.split(" ").str[0]
#df["Arrival_Time"].str.split(" ").str[1]

In [323]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year,arr_time
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019,01:10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019,13:15

In [324]:
df.drop("Arrival_Time",axis=1,inplace=True)

In [325]:
df.drop("arrival_hour",axis=1,inplace=True)
df.head(2)

KeyError: "['arrival_hour'] not found in axis"

In [326]:
df["arr_hour"]=df["arr_time"].str.split(":").str[0]
df["arr_min"]=df["arr_time"].str.split(":").str[1]

In [327]:
df["arr_hour"]=df["arr_hour"].astype((int))
df["arr_min"]=df["arr_min"].astype((int))
df["day"]=df["day"].astype((int))
df["month"]=df["month"].astype((int))
df["year"]=df["year"].astype((int))

In [328]:
df.drop("arr_time",axis=1,inplace=True)
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year,arr_hour,arr_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15

In [329]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   day              10683 non-null  int64
 10  month            10683 non-null  int64
 11  year             10683 non-null  int64
 12  arr_hour         10683 non-null  int64
 13  arr_min          10683 non-null  int64
dtypes: int64(6), object(8)
memory usage: 1.1+ MB

In [330]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,day,month,year,arr_hour,arr_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15

In [331]:
df["dep_hour"]=df["Dep_Time"].str.split(":").str[0]
df["dep_min"]=df["Dep_Time"].str.split(":").str[1]

In [332]:
df["dep_hour"]=df["dep_hour"].astype((int))
df["dep_min"]=df["dep_min"].astype((int))

In [333]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   day              10683 non-null  int64
 10  month            10683 non-null  int64
 11  year             10683 non-null  int64
 12  arr_hour         10683 non-null  int64
 13  arr_min          10683 non-null  int64
 14  dep_hour         10683 non-null  int64
 15  dep_min          10683 non-null  int64
dtypes: int64(8), object(8)
memory usage: 1.3+ MB

In [334]:
df.drop("Dep_Time",axis=1,inplace=True)

In [335]:
df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,day,month,year,arr_hour,arr_min,dep_hour,dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50

In [336]:
#df.drop("dur_hours",axis=1,inplace=True)
df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,day,month,year,arr_hour,arr_min,dep_hour,dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50

In [337]:
df["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [338]:
df["Total_Stops"]=df["Total_Stops"].map(({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, "np.nan":1, '4 stops':4}))

In [339]:
df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,day,month,year,arr_hour,arr_min,dep_hour,dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662,1,5,2019,13,15,5,50

In [340]:
df.drop("Route",axis=1,inplace=True)

In [341]:
df["Additional_Info"].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [342]:
df.isnull().sum()

Airline            0
Source             0
Destination        0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
day                0
month              0
year               0
arr_hour           0
arr_min            0
dep_hour           0
dep_min            0
dtype: int64

In [343]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,day,month,year,arr_hour,arr_min,dep_hour,dep_min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302,1,3,2019,21,35,16,50

In [344]:
df["duration_hours"]=df["Duration"].str.split(" ").str[0].str.split("h").str[0]

In [345]:
df["duration_minuts"]=df["Duration"].str.split(" ").str[1].fillna(0).str.split("m").str[0]

In [346]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Duration         10683 non-null  object
 4   Total_Stops      10682 non-null  float64
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   day              10683 non-null  int64
 8   month            10683 non-null  int64
 9   year             10683 non-null  int64
 10  arr_hour         10683 non-null  int64
 11  arr_min          10683 non-null  int64
 12  dep_hour         10683 non-null  int64
 13  dep_min          10683 non-null  int64
 14  duration_hours   10683 non-null  object
 15  duration_minuts  9651 non-null   object
dtypes: float64(1), int64(8), object(7)
memory usage: 1.3+ MB

In [349]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Duration         10683 non-null  object
 4   Total_Stops      10682 non-null  float64
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   day              10683 non-null  int64
 8   month            10683 non-null  int64
 9   year             10683 non-null  int64
 10  arr_hour         10683 non-null  int64
 11  arr_min          10683 non-null  int64
 12  dep_hour         10683 non-null  int64
 13  dep_min          10683 non-null  int64
 14  duration_hours   10683 non-null  object
 15  duration_minuts  9651 non-null   object
dtypes: float64(1), int64(8), object(7)
memory usage: 1.3+ MB

In [352]:
df["duration_hours"].unique()
df["duration_hours"]=df["duration_hours"].str.split("m").str[0]

In [353]:
df.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,day,month,year,arr_hour,arr_min,dep_hour,dep_min,duration_hours,duration_minuts
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662,1,5,2019,13,15,5,50,7,25

In [356]:
df["duration_hours"].unique()
df["duration_hours"]=df["duration_hours"].astype(int)

In [357]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Duration         10683 non-null  object
 4   Total_Stops      10682 non-null  float64
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   day              10683 non-null  int64
 8   month            10683 non-null  int64
 9   year             10683 non-null  int64
 10  arr_hour         10683 non-null  int64
 11  arr_min          10683 non-null  int64
 12  dep_hour         10683 non-null  int64
 13  dep_min          10683 non-null  int64
 14  duration_hours   10683 non-null  int64
 15  duration_minuts  9651 non-null   object
dtypes: float64(1), int64(9), object(6)
memory usage: 1.3+ MB

In [368]:
df["duration_minuts"].unique()
df["duration_minuts"]=df["duration_minuts"].fillna("0")

In [369]:
df["duration_minuts"].unique()

array(['50', '25', '0', '45', '30', '5', '15', '35', '10', '20', '55',
       '40'], dtype=object)

In [370]:
df["duration_minuts"]=df["duration_minuts"].astype(int)

In [371]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Duration         10683 non-null  object
 4   Total_Stops      10682 non-null  float64
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   day              10683 non-null  int64
 8   month            10683 non-null  int64
 9   year             10683 non-null  int64
 10  arr_hour         10683 non-null  int64
 11  arr_min          10683 non-null  int64
 12  dep_hour         10683 non-null  int64
 13  dep_min          10683 non-null  int64
 14  duration_hours   10683 non-null  int64
 15  duration_minuts  10683 non-null  int64
dtypes: float64(1), int64(10), object(5)
memory usage: 1.3+ MB

In [375]:
df.head()
df.drop("Duration",axis=1,inplace=True)
df.head()

KeyError: "['Duration'] not found in axis"

In [377]:
df.head(5)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,day,month,year,arr_hour,arr_min,dep_hour,dep_min,duration_hours,duration_minuts
0,IndiGo,Banglore,New Delhi,0.0,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,2.0,No info,7662,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,2.0,No info,13882,9,6,2019,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,1.0,No info,6218,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,1.0,No info,13302,1,3,2019,21,35,16,50,4,45

In [381]:
pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.7.2-cp313-cp313-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\prasa\pycharmprojects\programs\programs\venv\lib\site-packages (from scikit-learn) (2.3.3)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.7.2-cp313-cp313-win_amd64.whl (8.7 MB)
Using cached joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading scipy-1.16.3-cp313-cp313-win_amd64.whl (38.5 MB)
   ---------------------------------------- 0.0/38.5 MB ? eta -:--:--
   ---------------------------------------- 0.3/38.5 MB ? eta -:--:--
   - -------------------------------------- 1.0/38.5 MB 4.1 MB/s eta 0:00:10
   - -------------------------------------- 1.8/38.5 MB 4.2 MB/s eta 0:00:09
   -- ------------------------------------- 2.1/38.5 MB 3.1 MB/s eta 0:00:12
   -- ------------------------------------- 2.9/38.5 MB 3.2 MB/s eta 0:00:12
   --- ------------------------------------ 3.7/38.5 MB 3.3 MB/s eta 0:00:11
   ---- ----------------------------------- 4.2/38.5 MB 3.5 MB/s eta 0:00:10
   ---- ----------------------------------- 4.7/38.5 MB 3.2 MB/s eta 0:00:11
   ----- ---------------------------------- 5.8/38.5 MB 3.3 MB/s eta 0:00:10
   ------- -------------------------------- 7.6/38.5 MB 3.9 MB/s eta 0:00:08
   -------- ------------------------------- 8.4/38.5 MB 3.9 MB/s eta 0:00:08
   --------- ------------------------------ 9.2/38.5 MB 3.9 MB/s eta 0:00:08
   ---------- ----------------------------- 10.5/38.5 MB 4.1 MB/s eta 0:00:07
   ----------- ---------------------------- 11.3/38.5 MB 4.1 MB/s eta 0:00:07
   ------------- -------------------------- 13.1/38.5 MB 4.4 MB/s eta 0:00:06
   --------------- ------------------------ 14.9/38.5 MB 4.7 MB/s eta 0:00:06
   ----------------- ---------------------- 16.8/38.5 MB 4.9 MB/s eta 0:00:05
   ------------------- -------------------- 18.6/38.5 MB 5.1 MB/s eta 0:00:04
   -------------------- ------------------- 19.9/38.5 MB 5.2 MB/s eta 0:00:04
   ---------------------- ----------------- 21.8/38.5 MB 5.4 MB/s eta 0:00:04
   ------------------------ --------------- 23.3/38.5 MB 5.5 MB/s eta 0:00:03
   -------------------------- ------------- 25.7/38.5 MB 5.7 MB/s eta 0:00:03
   --------------------------- ------------ 26.7/38.5 MB 5.7 MB/s eta 0:00:03
   ---------------------------- ----------- 27.5/38.5 MB 5.7 MB/s eta 0:00:02
   ------------------------------ --------- 29.6/38.5 MB 5.8 MB/s eta 0:00:02
   ------------------------------- -------- 30.7/38.5 MB 5.8 MB/s eta 0:00:02
   -------------------------------- ------- 31.5/38.5 MB 5.8 MB/s eta 0:00:02
   --------------------------------- ------ 32.5/38.5 MB 5.7 MB/s eta 0:00:02
   ----------------------------------- ---- 33.8/38.5 MB 5.7 MB/s eta 0:00:01
   ------------------------------------ --- 35.1/38.5 MB 5.7 MB/s eta 0:00:01
   ------------------------------------- -- 35.9/38.5 MB 5.7 MB/s eta 0:00:01
   -------------------------------------- - 37.0/38.5 MB 5.6 MB/s eta 0:00:01
   -------------------------------------- - 37.2/38.5 MB 5.5 MB/s eta 0:00:01
   ---------------------------------------  38.0/38.5 MB 5.4 MB/s eta 0:00:01
   ---------------------------------------- 38.5/38.5 MB 5.4 MB/s  0:00:07
Using cached threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn

   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ---------------------------------------- 4/4 [scikit-learn]

Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.3 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [384]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info',
       'Price', 'day', 'month', 'year', 'arr_hour', 'arr_min', 'dep_hour',
       'dep_min', 'duration_hours', 'duration_minuts'],
      dtype='object')

In [398]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
enc=encoder.fit_transform(df[['Airline', 'Source', 'Destination', 'Additional_Info']]).toarray()

In [399]:
cnames=encoder.get_feature_names_out()

In [405]:
new=pd.DataFrame(enc,columns=cnames).reset_index()

In [403]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info',
       'Price', 'day', 'month', 'year', 'arr_hour', 'arr_min', 'dep_hour',
       'dep_min', 'duration_hours', 'duration_minuts'],
      dtype='object')

In [408]:
final_df=pd.concat([new,df],axis=1)

In [410]:
final_df.head(2)

,index,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,...,Price,day,month,year,arr_hour,arr_min,dep_hour,dep_min,duration_hours,duration_minuts
0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3897,24,3,2019,1,10,22,20,2,50
1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7662,1,5,2019,13,15,5,50,7,25

In [411]:
final_df.columns

Index(['index', 'Airline_Air Asia', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Banglore', 'Source_Chennai', 'Source_Delhi', 'Source_Kolkata',
       'Source_Mumbai', 'Destination_Banglore', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi', 'Additional_Info_1 Long layover',
       'Additional_Info_1 Short layover', 'Additional_Info_2 Long layover',
       'Additional_Info_Business class', 'Additional_Info_Change airports',
       'Additional_Info_In-flight meal not included',
       'Additional_Info_No Info',
       'Additional_Info_No check-in baggage included',
       'Additional_Info_No info', 'Additional_Info_Red-eye flight', 'Airline',
       'Source', 'Destination', 'Total_Stops', 'Additional_Info', 'Price',
       'day', 'month', 'year', 'arr_hour', 'arr_min', 'dep_hour', 'dep_min',
       'duration_hours', 'duration_minuts'],
      dtype='object')

In [418]:
final_df=final_df.drop(columns=['Airline','Source', 'Destination','Additional_Info'])

In [420]:
df.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,day,month,year,arr_hour,arr_min,dep_hour,dep_min,duration_hours,duration_minuts
0,IndiGo,Banglore,New Delhi,0.0,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,2.0,No info,7662,1,5,2019,13,15,5,50,7,25

In [419]:
final_df.head(2)

,index,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,...,Price,day,month,year,arr_hour,arr_min,dep_hour,dep_min,duration_hours,duration_minuts
0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,3897,24,3,2019,1,10,22,20,2,50
1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7662,1,5,2019,13,15,5,50,7,25

In [421]:
df.to_csv("Cleaned_flight_dataset",index=False)