In [2]:
import pandas as pd
df=pd.read_csv(r"c:\DATA SCIENCE\Machine_Learning\Datasets\Churn_Modelling (1) (2).csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,NaN,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,NaN,2,125510.82,1,1,1,79084.10,0

In [3]:
df.shape

(10000, 14)

In [4]:
df.duplicated().sum()

np.int64(0)

In [5]:
df.isnull().sum()

RowNumber           0
CustomerId          0
Surname             0
CreditScore         0
Geography           0
Gender             30
Age                32
Tenure              0
Balance             0
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary     0
Exited              0
dtype: int64

In [6]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [7]:
df.columns=df.columns.str.lower()

In [ ]:
num_cols=df.select_dtypes(include=["int","float"])
cat_cols=df.select_dtypes(include=["object"])

cat_cols are         surname geography  gender
0      Hargrave    France  Female
1          Hill     Spain  Female
2          Onio    France  Female
3          Boni    France  Female
4      Mitchell     Spain  Female
...         ...       ...     ...
9995   Obijiaku    France    Male
9996  Johnstone    France    Male
9997        Liu    France  Female
9998  Sabbatini   Germany    Male
9999     Walker    France  Female

[10000 rows x 3 columns]
num_cols are       rownumber  customerid  creditscore   age  tenure    balance  \
0             1    15634602          619  42.0       2       0.00
1             2    15647311          608  41.0       1   83807.86
2             3    15619304          502   NaN       8  159660.80
3             4    15701354          699  39.0       1       0.00
4             5    15737888          850   NaN       2  125510.82
...         ...         ...          ...   ...     ...        ...
9995       9996    15606229          771   NaN       5       0.00
9996       9997    15569892          516  35.0      10   57369.61
9997       9998    15584532          709  36.0       7       0.00
9998       9999    15682355          772  42.0       3   75075.31
9999      10000    15628319          792  28.0       4  130142.79

      numofproducts  hascrcard  isactivemember  estimatedsalary  exited
0                 1          1               1        101348.88       1
1                 1          0               1        112542.58       0
2                 3          1               0        113931.57       1
3                 2          0               0         93826.63       0
4                 1          1               1         79084.10       0
...             ...        ...             ...              ...     ...
9995              2          1               0         96270.64       0
9996              1          1               1        101699.77       0
9997              1          0               1         42085.58       1
9998              2          1               0         92888.52       1
9999              1          1               0         38190.78       0

[10000 rows x 11 columns]

In [9]:
df.columns

Index(['rownumber', 'customerid', 'surname', 'creditscore', 'geography',
       'gender', 'age', 'tenure', 'balance', 'numofproducts', 'hascrcard',
       'isactivemember', 'estimatedsalary', 'exited'],
      dtype='object')

df.drop(['rownumber', 'customerid', 'surname'],inplace=True,axis=1)

In [ ]:
#label encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in cat_cols:
    df[i]=le.fit_transform(df[i])

In [ ]:
cat_cols
df.head()
df.dtypes

In [ ]:
df.head()

In [ ]:
x=df.drop("exited",axis=1)
y=df["exited"]

In [ ]:
x

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,train_size=0.8)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [ ]:
x_train_scaled
x_test_scaled

ANN model classification

In [ ]:
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense
model=Sequential()
#adding layers
model.add(Dense(32, activation='relu', input_dim=x_train_scaled.shape[1]))#input layer with relu activaion function with 32 neurons
model.add(Dense(16,activation='relu'))                                    #hidden layer with relu activation function with 16 neurons
model.add(Dense(1,activation='sigmoid'))                                  #output layer with sigmoid activation function with 1 neuron

In [ ]:
x_train_scaled.shape[1]

In [ ]:
model.summary()
#13*32+32
#32*16+16

In [ ]:
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [ ]:
history = model.fit(x_train_scaled, y_train, epochs=50, batch_size=20, validation_split=0.2, verbose=1)

In [ ]:
model.evaluate(x_test_scaled,y_test)

In [ ]:
y_pred=model.predict(x_test)
print(f"y predicted values are {y_pred[:10]}")

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

In [ ]:
x[:1]

In [ ]:
df.head()

In [ ]:
new_point=[]