In [1]:
import pandas as pd
df=pd.read_csv(r"c:\Users\prasa\OneDrive\Documents\Desktop\Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [2]:
df.shape

(10000, 14)

In [4]:
df.duplicated().sum()

np.int64(0)

In [3]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [14]:
df.columns=df.columns.str.lower()

In [25]:
num_cols=df.select_dtypes(include=["int","float"])
cat_cols=df.select_dtypes(include=["object"])
print(f"cat_cols are {cat_cols}")
print(f"num_cols are {num_cols}")

cat_cols are         surname geography  gender
0      Hargrave    France  Female
1          Hill     Spain  Female
2          Onio    France  Female
3          Boni    France  Female
4      Mitchell     Spain  Female
...         ...       ...     ...
9995   Obijiaku    France    Male
9996  Johnstone    France    Male
9997        Liu    France  Female
9998  Sabbatini   Germany    Male
9999     Walker    France  Female

[10000 rows x 3 columns]
num_cols are       rownumber  customerid  creditscore  age  tenure    balance  \
0             1    15634602          619   42       2       0.00
1             2    15647311          608   41       1   83807.86
2             3    15619304          502   42       8  159660.80
3             4    15701354          699   39       1       0.00
4             5    15737888          850   43       2  125510.82
...         ...         ...          ...  ...     ...        ...
9995       9996    15606229          771   39       5       0.00
9996       9997    15569892          516   35      10   57369.61
9997       9998    15584532          709   36       7       0.00
9998       9999    15682355          772   42       3   75075.31
9999      10000    15628319          792   28       4  130142.79

      numofproducts  hascrcard  isactivemember  estimatedsalary  exited
0                 1          1               1        101348.88       1
1                 1          0               1        112542.58       0
2                 3          1               0        113931.57       1
3                 2          0               0         93826.63       0
4                 1          1               1         79084.10       0
...             ...        ...             ...              ...     ...
9995              2          1               0         96270.64       0
9996              1          1               1        101699.77       0
9997              1          0               1         42085.58       1
9998              2          1               0         92888.52       1
9999              1          1               0         38190.78       0

[10000 rows x 11 columns]

In [26]:
df["geography"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [27]:
#label encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in cat_cols:
    df[i]=le.fit_transform(df[i])

In [30]:
cat_cols
df.head()
df.dtypes

rownumber            int64
customerid           int64
surname              int64
creditscore          int64
geography            int64
gender               int64
age                  int64
tenure               int64
balance            float64
numofproducts        int64
hascrcard            int64
isactivemember       int64
estimatedsalary    float64
exited               int64
dtype: object

In [31]:
df.head()

,rownumber,customerid,surname,creditscore,geography,gender,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary,exited
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [34]:
x=df.drop("exited",axis=1)
y=df["exited"]

In [33]:
x

,rownumber,customerid,surname,creditscore,geography,gender,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary
0,1,15634602,1115,619,0,0,42,2,0.00,1,1,1,101348.88
1,2,15647311,1177,608,2,0,41,1,83807.86,1,0,1,112542.58
2,3,15619304,2040,502,0,0,42,8,159660.80,3,1,0,113931.57
3,4,15701354,289,699,0,0,39,1,0.00,2,0,0,93826.63
4,5,15737888,1822,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,1999,771,0,1,39,5,0.00,2,1,0,96270.64
9996,9997,15569892,1336,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,9998,15584532,1570,709,0,0,36,7,0.00,1,0,1,42085.58
9998,9999,15682355,2345,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,10000,15628319,2751,792,0,0,28,4,130142.79,1,1,0,38190.78

In [35]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: exited, Length: 10000, dtype: int64

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,train_size=0.8)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((8000, 13), (2000, 13), (8000,), (2000,))

In [38]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [41]:
x_train_scaled
x_test_scaled

array([[ 0.42961263, -0.04416715, -1.67886989, ..., -1.54035103,
        -1.02583358, -1.01960511],
       [-0.11342351,  0.64443214, -0.39920723, ...,  0.64920267,
         0.97481699,  0.79888291],
       [-1.1361185 ,  0.43240018, -1.6871334 , ...,  0.64920267,
        -1.02583358, -0.72797953],
       ...,
       [ 0.98407747,  0.77960199,  0.36103516, ...,  0.64920267,
        -1.02583358, -1.16591585],
       [-1.35638061, -0.02204946,  1.5993803 , ...,  0.64920267,
        -1.02583358, -0.41163463],
       [ 0.66407403, -0.5433811 ,  1.53563326, ...,  0.64920267,
         0.97481699,  0.12593183]], shape=(2000, 13))

ANN model classification

In [69]:
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense
model=Sequential()
#adding layers
model.add(Dense(32, activation='relu', input_dim=x_train.shape[1]))
model.add(Dense(16,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

c:\Users\prasa\AppData\Local\Programs\Python\Python313\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [79]:
model.summary()

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_7 (Dense)                 │ (None, 32)             │           448 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_9 (Dense)                 │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,981 (11.65 KB)

 Trainable params: 993 (3.88 KB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 1,988 (7.77 KB)

In [70]:
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [71]:
history = model.fit(x_train, y_train, epochs=50, batch_size=20, validation_split=0.2, verbose=1)

Epoch 1/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6672 - loss: 5811.6152 - val_accuracy: 0.4663 - val_loss: 1043.4761
Epoch 2/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6808 - loss: 4419.0298 - val_accuracy: 0.6731 - val_loss: 354.7834
Epoch 3/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6722 - loss: 4409.9033 - val_accuracy: 0.7987 - val_loss: 5316.8618
Epoch 4/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6753 - loss: 3657.4543 - val_accuracy: 0.7987 - val_loss: 9351.4531
Epoch 5/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6725 - loss: 3627.0254 - val_accuracy: 0.7987 - val_loss: 3841.4814
Epoch 6/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6773 - loss: 3799.8247 - val_accuracy: 0.7987 - val_loss: 860.9495
Epoch 7/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6773 - loss: 3573.7400 - val_accuracy: 0.7987 - val_loss: 2605.2466
Epoch 8/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6744 - loss: 2983.1797 - val_accuracy: 0.4938 - val_loss: 818.3914
Epoch 9/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6767 - loss: 2525.9360 - val_accuracy: 0.3831 - val_loss: 982.9534
Epoch 10/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6683 - loss: 3316.7229 - val_accuracy: 0.4681 - val_loss: 938.6933
Epoch 11/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6730 - loss: 4256.6250 - val_accuracy: 0.2013 - val_loss: 8542.1660
Epoch 12/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6786 - loss: 3165.6729 - val_accuracy: 0.7987 - val_loss: 1919.7249
Epoch 13/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6748 - loss: 3245.1191 - val_accuracy: 0.7987 - val_loss: 3878.3372
Epoch 14/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6744 - loss: 2974.2556 - val_accuracy: 0.7925 - val_loss: 316.3366
Epoch 15/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6811 - loss: 2976.8669 - val_accuracy: 0.2013 - val_loss: 9295.5000
Epoch 16/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6723 - loss: 2613.6484 - val_accuracy: 0.7987 - val_loss: 1610.0201
Epoch 17/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6689 - loss: 3343.5188 - val_accuracy: 0.7937 - val_loss: 562.2976
Epoch 18/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6770 - loss: 3030.4539 - val_accuracy: 0.7987 - val_loss: 1252.9056
Epoch 19/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6764 - loss: 2061.7754 - val_accuracy: 0.7987 - val_loss: 5425.2930
Epoch 20/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6783 - loss: 2571.9795 - val_accuracy: 0.2013 - val_loss: 4541.3179
Epoch 21/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6700 - loss: 2754.8821 - val_accuracy: 0.2013 - val_loss: 8055.0127
Epoch 22/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6833 - loss: 3115.9934 - val_accuracy: 0.2013 - val_loss: 9653.9854
Epoch 23/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6722 - loss: 2399.6997 - val_accuracy: 0.7337 - val_loss: 192.3474
Epoch 24/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6736 - loss: 2966.8977 - val_accuracy: 0.4675 - val_loss: 755.3058
Epoch 25/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6742 - loss: 2736.6494 - val_accuracy: 0.7987 - val_loss: 2403.3289
Epoch 26/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6798 - loss: 1900.8075 - val_accuracy: 0.7987 - val_loss: 1229.4962
Epoch 27/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6794 - loss: 2231.0291 - val_accuracy: 0.7987 - val_loss: 899.3176
Epoch 28/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6711 - loss: 2209.5706 - val_accuracy: 0.2013 - val_loss: 2503.7239
Epoch 29/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6817 - loss: 2534.4009 - val_accuracy: 0.7987 - val_loss: 4349.4819
Epoch 30/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6736 - loss: 2737.5327 - val_accuracy: 0.7987 - val_loss: 2642.3569
Epoch 31/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6792 - loss: 2290.2861 - val_accuracy: 0.4338 - val_loss: 1005.6566
Epoch 32/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6833 - loss: 1858.4615 - val_accuracy: 0.7994 - val_loss: 344.7009
Epoch 33/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6823 - loss: 1908.7163 - val_accuracy: 0.2013 - val_loss: 1719.2876
Epoch 34/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6761 - loss: 2435.9690 - val_accuracy: 0.7987 - val_loss: 1089.7374
Epoch 35/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6748 - loss: 1684.0944 - val_accuracy: 0.7987 - val_loss: 1626.8342
Epoch 36/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6745 - loss: 1782.6318 - val_accuracy: 0.2587 - val_loss: 962.6727
Epoch 37/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6733 - loss: 2401.3723 - val_accuracy: 0.7987 - val_loss: 997.8251
Epoch 38/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6741 - loss: 2043.4750 - val_accuracy: 0.7987 - val_loss: 854.0031
Epoch 39/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6795 - loss: 1537.7007 - val_accuracy: 0.2056 - val_loss: 1263.6771
Epoch 40/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6734 - loss: 1658.6808 - val_accuracy: 0.7987 - val_loss: 1112.2850
Epoch 41/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6872 - loss: 1918.2897 - val_accuracy: 0.7987 - val_loss: 1052.1720
Epoch 42/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6745 - loss: 1334.8558 - val_accuracy: 0.7987 - val_loss: 2207.2563
Epoch 43/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6784 - loss: 1713.6974 - val_accuracy: 0.7987 - val_loss: 1371.1040
Epoch 44/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6712 - loss: 1858.6321 - val_accuracy: 0.7987 - val_loss: 1479.5079
Epoch 45/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.6770 - loss: 1193.5457 - val_accuracy: 0.7987 - val_loss: 987.2165
Epoch 46/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6748 - loss: 1835.1801 - val_accuracy: 0.7987 - val_loss: 2743.4753
Epoch 47/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6794 - loss: 1044.3115 - val_accuracy: 0.7987 - val_loss: 717.0935
Epoch 48/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6777 - loss: 1027.3812 - val_accuracy: 0.2406 - val_loss: 399.5724
Epoch 49/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6739 - loss: 889.9394 - val_accuracy: 0.2013 - val_loss: 2600.8674
Epoch 50/50
320/320 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6700 - loss: 1241.8226 - val_accuracy: 0.7987 - val_loss: 1798.7065

In [72]:
model.evaluate(x_test,y_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8035 - loss: 1758.8562

[1758.856201171875, 0.8034999966621399]

In [78]:
y_pred=model.predict(x_test)
print(f"y predicted values are {y_pred[:10]}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step
y predicted values are [[0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]]

In [74]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.8035