In [170]:
import pandas as pd
df=pd.read_csv(r"c:\DATA SCIENCE\Machine_Learning\Linear Regression\Data_Sets\Algerian_Forest_Fires.csv",header=1)
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [171]:
df.shape

(246, 14)

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.0+ KB

In [173]:
print(df.columns)

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  '],
      dtype='object')

In [174]:
df[df.isnull().any(axis=1)]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
122,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,14,07,2012,37,37,18,0.2,88.9,12.9,14.69,12.5,10.4,fire,NaN

In [175]:
df.loc[:122,"region"]=0
df.loc[122:,"region"]=1
dataset=df
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
 14  region       246 non-null    float64
dtypes: float64(1), object(14)
memory usage: 29.0+ KB

In [176]:
dataset[["region"]]=dataset[["region"]].astype(int)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
 14  region       246 non-null    int64
dtypes: int64(1), object(14)
memory usage: 29.0+ KB

In [177]:
dataset=dataset.dropna().reset_index(drop=True)
dataset.isnull().sum().sum()

np.int64(0)

In [178]:
dataset.iloc[122]
dataset=dataset.drop(122).reset_index(drop=True)
dataset.iloc[122]

day                     01
month                   06
year                  2012
Temperature             32
 RH                     71
 Ws                     12
Rain                   0.7
FFMC                  57.1
DMC                    2.5
DC                     8.2
ISI                    0.6
BUI                    2.8
FWI                    0.2
Classes        not fire
region                   1
Name: 122, dtype: object

In [179]:
dataset.isnull().sum()

day            0
month          0
year           0
Temperature    0
 RH            0
 Ws            0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        0
region         0
dtype: int64

In [180]:
dataset.columns=df.columns.str.strip()
dataset.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'region'],
      dtype='object')

In [181]:
dataset.head(5)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,0
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,0
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,0

In [182]:
dataset.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'region'],
      dtype='object')

In [183]:
dataset[['day', 'month', 'year', 'Temperature', 'RH', 'Ws']]=dataset[['day', 'month', 'year', 'Temperature', 'RH', 'Ws']].astype(int)

In [184]:
dataset[['Ws', 'Rain', 'FFMC','DMC', 'DC', 'ISI', 'BUI', 'FWI']]=dataset[['Ws', 'Rain', 'FFMC','DMC', 'DC', 'ISI', 'BUI', 'FWI']].astype(float)

In [185]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    int64
 1   month        243 non-null    int64
 2   year         243 non-null    int64
 3   Temperature  243 non-null    int64
 4   RH           243 non-null    int64
 5   Ws           243 non-null    float64
 6   Rain         243 non-null    float64
 7   FFMC         243 non-null    float64
 8   DMC          243 non-null    float64
 9   DC           243 non-null    float64
 10  ISI          243 non-null    float64
 11  BUI          243 non-null    float64
 12  FWI          243 non-null    float64
 13  Classes      243 non-null    object
 14  region       243 non-null    int64
dtypes: float64(8), int64(6), object(1)
memory usage: 28.6+ KB

In [186]:
dataset.describe()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,region
count,243.000000,243.000000,243.0,243.000000,243.000000,243.000000,243.000000,243.000000,243.000000,243.000000,243.000000,243.000000,243.000000,243.000000
mean,15.761317,7.502058,2012.0,32.152263,62.041152,15.493827,0.762963,77.842387,14.680658,49.430864,4.742387,16.690535,7.035391,0.497942
std,8.842552,1.114793,0.0,3.628039,14.828160,2.811385,2.003207,14.349641,12.393040,47.665606,4.154234,14.228421,7.440568,0.501028
min,1.000000,6.000000,2012.0,22.000000,21.000000,6.000000,0.000000,28.600000,0.700000,6.900000,0.000000,1.100000,0.000000,0.000000
25%,8.000000,7.000000,2012.0,30.000000,52.500000,14.000000,0.000000,71.850000,5.800000,12.350000,1.400000,6.000000,0.700000,0.000000
50%,16.000000,8.000000,2012.0,32.000000,63.000000,15.000000,0.000000,83.300000,11.300000,33.100000,3.500000,12.400000,4.200000,0.000000
75%,23.000000,8.000000,2012.0,35.000000,73.500000,17.000000,0.500000,88.300000,20.800000,69.100000,7.250000,22.650000,11.450000,1.000000
max,31.000000,9.000000,2012.0,42.000000,90.000000,29.000000,16.800000,96.000000,65.900000,220.400000,19.000000,68.000000,31.100000,1.000000

In [187]:
df.to_csv("cleaned algeria dataset",index=False)

In [188]:
# i need to eda for this 
df.head(2)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,0

In [189]:
df.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  ', 'region'],
      dtype='object')

In [190]:
df["Classes  "].value_counts()

Classes
fire             131
not fire         101
fire               4
fire               2
not fire           2
not fire           1
Classes            1
not fire           1
not fire           1
Name: count, dtype: int64

In [191]:
import numpy as np
df["Classes  "]=np.where(df["Classes  "].str.contains("not fire"),0,1)
df["Classes  "].value_counts()
#already completed thats why we get error

Classes
1    138
0    108
Name: count, dtype: int64

In [192]:
df['Classes  '].value_counts()

Classes
1    138
0    108
Name: count, dtype: int64

In [193]:
df.head()
df.tail()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,1,1
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,0,1
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,0,1
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,0,1
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,0,1

In [194]:
df.columns=df.columns.str.strip()

In [195]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'region'],
      dtype='object')

In [196]:
df.drop(['day', 'month', 'year'],axis=1,inplace=True)

In [197]:
df.head(2)

  Temperature  RH  Ws Rain  FFMC  DMC   DC  ISI  BUI  FWI  Classes  region
0          29  57  18    0  65.7  3.4  7.6  1.3  3.4  0.5        0       0
1          29  61  13  1.3  64.4  4.1  7.6    1  3.9  0.4        0       0

In [198]:
df.columns

Index(['Temperature', 'RH', 'Ws', 'Rain', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI',
       'FWI', 'Classes', 'region'],
      dtype='object')

In [199]:
df.dropna(inplace=True)
df["Temperature"].unique()
#df["Temperature"]=df["Temperature"].str.replace('Temperature',"0")
df["Temperature"].unique()
df["Temperature"]=df["Temperature"].astype(float)

ValueError: could not convert string to float: 'Temperature'

In [200]:
df.columns

Index(['Temperature', 'RH', 'Ws', 'Rain', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI',
       'FWI', 'Classes', 'region'],
      dtype='object')

In [213]:
df["Temperature"].unique()
df["Temperature"]=df["Temperature"].str.replace("Temperature","0")

In [201]:
df["FWI"].unique()
df["FWI"]=df["FWI"].str.replace("FWI","0")

In [202]:
df["FWI"].unique()
df["FWI"]=df["FWI"].str.replace('fire   ',"0")

In [203]:
df["BUI"].unique()
df["BUI"]=df["BUI"].str.replace("BUI","0")

In [204]:
df["ISI"].unique()
df["ISI"]=df["ISI"].str.replace("ISI","0")

In [205]:
df["DC"].unique()
df["DC"]=df["DC"].str.replace("DC","0")

In [206]:
df["DMC"].unique()
df["DMC"]=df["DMC"].str.replace("DMC","0")

In [207]:
df["FFMC"].unique()
df["FFMC"]=df["FFMC"].str.replace("FFMC","0")

In [208]:
df['Rain'].unique()
df["Rain"]=df["Rain"].str.replace("Rain ","0")

In [209]:
df['RH'].unique()
df["RH"]=df["RH"].str.replace(" RH","50")

In [210]:
df['Ws'].unique()
df["Ws"]=df["Ws"].str.replace(" Ws","50")

In [214]:
for col in df.columns:
    df[col] = df[col].astype(float)

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 245 entries, 0 to 245
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  245 non-null    float64
 1   RH           245 non-null    float64
 2   Ws           245 non-null    float64
 3   Rain         245 non-null    float64
 4   FFMC         245 non-null    float64
 5   DMC          245 non-null    float64
 6   DC           245 non-null    float64
 7   ISI          245 non-null    float64
 8   BUI          245 non-null    float64
 9   FWI          245 non-null    float64
 10  Classes      245 non-null    float64
 11  region       245 non-null    float64
dtypes: float64(12)
memory usage: 24.9 KB

In [216]:
df["Classes"]=df["Classes"].astype(int)
df["region"]=df["region"].astype(int)

In [217]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 245 entries, 0 to 245
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  245 non-null    float64
 1   RH           245 non-null    float64
 2   Ws           245 non-null    float64
 3   Rain         245 non-null    float64
 4   FFMC         245 non-null    float64
 5   DMC          245 non-null    float64
 6   DC           245 non-null    float64
 7   ISI          245 non-null    float64
 8   BUI          245 non-null    float64
 9   FWI          245 non-null    float64
 10  Classes      245 non-null    int64
 11  region       245 non-null    int64
dtypes: float64(10), int64(2)
memory usage: 24.9 KB

In [218]:
df.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
0,29.0,57.0,18.0,0.0,65.7,3.4,7.6,1.3,3.4,0.5,0,0
1,29.0,61.0,13.0,1.3,64.4,4.1,7.6,1.0,3.9,0.4,0,0
2,26.0,82.0,22.0,13.1,47.1,2.5,7.1,0.3,2.7,0.1,0,0
3,25.0,89.0,13.0,2.5,28.6,1.3,6.9,0.0,1.7,0.0,0,0
4,27.0,77.0,16.0,0.0,64.8,3.0,14.2,1.2,3.9,0.5,0,0

In [219]:
df["Classes"].value_counts()

Classes
1    138
0    107
Name: count, dtype: int64

In [220]:
df.columns

Index(['Temperature', 'RH', 'Ws', 'Rain', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI',
       'FWI', 'Classes', 'region'],
      dtype='object')

In [222]:
x=df[['Temperature', 'RH', 'Ws', 'Rain', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI','FWI']]
y=df["Classes"]

In [228]:
from sklearn.utils import resample
maj=df[df["Classes"]==0]
min=df[df["Classes"]==1]
resample(min,replace=True,n_samples=len(maj),random_state=42)

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
195,40.0,31.0,15.0,0.0,94.2,22.5,46.3,16.6,22.4,21.6,1,1
182,34.0,59.0,16.0,0.0,88.1,19.5,47.2,7.4,19.5,10.9,1,1
35,32.0,63.0,14.0,0.0,87.0,10.9,37.0,5.6,12.5,6.8,1,0
199,35.0,46.0,13.0,0.3,83.9,16.9,54.2,3.5,19.0,5.5,1,1
152,37.0,36.0,13.0,0.6,86.2,17.9,36.7,4.8,17.8,7.2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
195,40.0,31.0,15.0,0.0,94.2,22.5,46.3,16.6,22.4,21.6,1,1
59,31.0,79.0,15.0,0.0,85.4,28.5,136.0,4.7,37.4,10.7,1,0
238,35.0,56.0,14.0,0.0,89.0,29.4,115.6,7.5,36.0,15.2,1,1
35,32.0,63.0,14.0,0.0,87.0,10.9,37.0,5.6,12.5,6.8,1,0
175,32.0,48.0,18.0,0.0,91.5,44.2,90.1,13.2,44.0,25.4,1,1

In [229]:
df["Classes"].value_counts()

Classes
1    138
0    107
Name: count, dtype: int64

In [224]:
x.shape,y.shape

((245, 10), (245,))

In [231]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

c:\Users\prasa\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [233]:
y_pred=model.predict(x_test)

In [237]:
from sklearn.metrics import accuracy_score,confusion_matrix
print(accuracy_score(y_pred,y_test))
print(confusion_matrix(y_test,y_pred))

1.0
[[25  0]
 [ 0 24]]

In [238]:
model.predict(x_train)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0])