In [1]:
import pandas as pd
import seaborn as sns

In [13]:
df=pd.read_csv(r"c:\DATA SCIENCE\Machine_Learning\KNN\Data  Sets\breast-cancer-wisconsin.data.csv")
df.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [17]:
cols=df.columns

In [18]:
mapping = {
    "1000025": "ID",
    "5": "Category_A",
    "1": "Category_B",
    "1.1": "Subcat_1",
    "1.2": "Subcat_2",
    "2": "Category_C",
    "1.3": "Subcat_3",
    "3": "Category_D",
    "1.4": "Subcat_4",
    "1.5": "Subcat_5",
    "2.1": "Subcat_6"
}

In [19]:
df=df.rename(columns=mapping)

In [20]:
df.head(2)

,ID,Category_A,Category_B,Subcat_1,Subcat_2,Category_C,Subcat_3,Category_D,Subcat_4,Subcat_5,Subcat_6
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2